@use "sass:color";

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
*, *:before, *:after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

$first: #2c3e50;
$second: color.adjust(#34495e, $lightness: 50%);

code {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
}

#app {
    a {
        color: #2980b9;
        text-decoration: none;
    }
    button {
        background: none;
        border: none;
        font-family: inherit;
        color: inherit;
        text-decoration: inherit;
        cursor: inherit;
        font-size: inherit;
        border: 1px solid white;
        margin: 0.3em;
    }
    & > header {
        display: grid;
        align-items: center;
        grid-template-columns: auto 1fr auto;
        color: white;
        main {
            background: linear-gradient(30deg, white 0%, $second 70%, white);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 175%;
            text-transform: uppercase;
            svg {
                transition: all 300ms;
                transform-origin: 40% 40%;
                transform: scale(2) rotate(-60deg);
                opacity: 0.2;
            }
            &:hover {
                svg {
                    transition: all 300ms;
                    transform: scale(2.4) rotate(-240deg);
                }
            }
        }
        a, a:visited, a:hover, a:active {
            color: inherit;
            text-decoration: none;
        }
        & > nav {
            padding-left: 0.4em;
            padding-right: 0.4em;
            text-align: right;
        }
        & > nav > a, & > button {
            border-radius: 3px;
            padding: 0.4em;
            $ligth-first: color.adjust($first, $lightness: 5%);
            background: $first;
            &:hover {
                background: $ligth-first;
                transition: all 100ms ease-in;
            }
        }
        background: $first;
        transition: all 140ms;
        padding: 0.3em 1em;
    }
    & > button {
        grid-area: login;
    }
    & > main {
        grid-area: main;
        button {
            background: $first;
            border-radius: 3px;
            padding: 0.4em 0.8em;
            background: $first;
            color: white;
            border: 1px solid color.adjust($first, $lightness: 30%);
        }
        input {
            background: color.adjust($first, $lightness: 75%);
            border: 1px solid color.adjust($first, $lightness: 55%);
            border-radius: 3px;
            padding: 0.4em;
            font-family: inherit;
            font-weight: inherit;
            font-size: 105%;
        }
        h2 {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            color: $first;
            padding: 0;
            margin-top: 0;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            tr:first-child {
                th {
                    text-align: left;
                }
                border-bottom: 1px solid $first;
            }
            th, td {
                padding: 0.4em;
            }
            tr:nth-child(2n + 2) {
                background: color.adjust($first, $lightness: 70%);
            }
            tr:nth-child(n + 2) {
                border-bottom: 1px solid color.adjust($first, $lightness: 60%);
            }
            tr:last-child {
                border-bottom: 0px;
            }
        }
        margin: 2em;
    }
    & > main.project > div {
        .editable-text {
            display: inline-block;
        }
        .empty:before {
            font-style: italic;
            opacity: 0.6;
        }
        h2 {
            .title {
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    left: 0%;
                    bottom: 0px;
                    height: 6px;
                    width: 100%;
                    transform: skew(-12deg) translateX(-5%);
                    background: color.adjust($first, $lightness: 70%);
                    z-index: -1;
                }
            }
            .id {
                font-size: 80%;
                display: inline-block;
                code {
                    opacity: 0.6;
                    font-size: 120%;
                }
            }
        }
        .labels {
            display: flex;
            flex-wrap: wrap;
            column-gap: 0.6em;
            .labeled {
                display: block;
                > .label {
                    margin-right: 0.4em;
                }
            }
        }
        .labeled {
            display: inline-block;
            white-space: nowrap;
            &.with-button {
                max-width: 100%;
                overflow: hidden;
                position: relative;
                padding-right: 1.3em;
            }
            > .label {
                background: color.adjust($first, $lightness: 50%);
                padding: 0.18em 0.3em;
                padding-bottom: 0;
                font-size: 80%;
                border-radius: 3px;
                text-transform: uppercase;
                color: white;
                display: inline-block;
                
            }
            i {
                padding-left: 0.3em;
                margin-left: 0.3em;
                position: absolute;
                right: 0px;
                top: 2px;
                &:before {
                    opacity: 0.5;
                    position: relative;
                    z-index: 1;
                }
                &:hover {
                    &:before {
                        opacity: 1;
                    }
                }
                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    background: white;
                    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 20%);
                }
            }
            code {
                letter-spacing: -0.04em;
            }
        }
        .declaration {
            .empty:before {
                content: "github#example-repo...";
            }
            i {
                opacity: 1!important;
                width: auto!important;
            }
        }
        .public_key {
            display: block!important;
        }
        .description {
            .empty:before {
                content: "some description...";
            }
        }
    }
    & > main.login > div {
        text-align: center;
        width: 340px;
        aside {
            display: flex;
            align-items: center;
            padding-bottom: 1em;
            font-style: italic;
            font-size: 80%;
            margin: 0 12%;
            color: gray;
        }
        .login-form, .error {
            border-radius: 4px;
            padding: 1.4em;
            border: 1px solid black;
        }
        .error {
            background: color.adjust(#e74c3c, $lightness: 40%);
            border-color: color.adjust(#e74c3c, $lightness: 30%);
            color: color.adjust(#e74c3c, $lightness: -45%);
            padding: 0.4em;
            margin-bottom: 1em;
        }
        .login-form {
            background: color.adjust($first, $lightness: 70%);
            border-color: color.adjust($first, $lightness: 60%);
            button, input {
                display: block;
                width: 100%;
                margin: 0.4em 0;
            }
            > div + div {
                padding: 0.3em 0;
            }
            > div {
                &:hover {
                    i {
                        transform: scale(1.05);
                        opacity: 0.8;
                        transition: all 100ms;
                    }
                }
                i {
                    display: inline-block;
                    margin-right: 0.2em;
                    transform: scale(0.95);
                    opacity: 0.6;
                    transition: all 100ms;
                }
                text-align: left;
                label {
                    display: block;
                    font-weight: 400;
                    padding: 0.3em 0;
                }
            }
        }
        margin: auto;
    }
}
